.homePageContainer {
    
}

/* Container füllt den Rest des Bildschirms (abzüglich Navbar) */
.mapWrapper {
    height: calc(100vh - 70px); /* Pass die 70px an deine Navbar-Höhe an */
    width: 100%;
    position: relative;
    z-index: 1; /* Damit die Karte nicht über Dropdowns liegt */
}

/* WICHTIG: Leaflet braucht explizite Höhe */
.mapContainer {
    height: 100%;
    width: 100%;
}